{% extends 'nothome.html.twig' %}

{% block title %}Totally Not Netflix | Movies{% endblock %}

{% block extendedbody %}
    <div class="container-fluid">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Original Title</th>
                    <th>Title Display</th>
                    <th>Is Adult?</th>
                    <th>Plot</th>
                    <th>Release Date</th>
                    <th>Runtime (Minutes)</th>
                    <th>Stock</th>
                    <th>Offer Type</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                        <a href="{{ path('movie_info', {'id': movie.id}) }}" class="link-light">
                            {{ movie.originalTitle }}
                        </a>
                    </td>
                    <td>
                        {% if movie.titleDisplay != null %}
                            {{ movie.titleDisplay }}
                        {% else %}
                            {{ movie.originalTitle }}
                        {% endif %}
                    </td>
                    <td>
                        {% if movie.isAdult %}
                            YES
                        {% else %}
                            NO
                        {% endif %}
                    </td>
                    <td>
                        {{ movie.plot }}
                    </td>
                    <td>
                        {{ movie.releaseDate |date('d-m-Y') }}
                    </td>
                    <td>
                        {{ movie.runtimeMinutes }}
                    </td>
                    <td>
                        {{ movie.stock }}
                    </td>
                    <td>
                        {{ movie.offerType }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <a href="{{ path('rentmenu') }}" class="btn btn-primary">
                Rent Movies
            </a>
            <a href="{{ path('returnrent_menu') }}" class="btn btn-primary">
                Return Rent
            </a>
        </div>
    </div>
{% endblock %}
