{% extends 'base.html.twig' %}
{# This is a local alternative, but let's use the API to fetch posters better #}
{# {% set img_code = [ 'img/posters/', movie.id, '.jpg' ] | join %} #}
{#  #}
{% block body %}
    <h2>
        {{ movie.titleDisplay }}
    </h2>
    <h3>
        ({{ movie.originalTitle }})
    </h3>
    <hr>
    <i>{{ movie.releaseDate |date('Y') }} - {{ movie.runtimeMinutes }} min. - <a href="https://www.imdb.com/title/{{ movie.idIMDB }}/">IMDb</a></i>
    <br>
    <br>
    {% if poster_url == "poster_not_available" %}
        <img src="{{ asset('img/posternotavailable.jpg') }}" alt="No Poster Available">
    {% else %}
        <img src="{{ poster_url }}" alt="{{ movie.titleDisplay }} Poster">
    {% endif %}
    <hr>
    <p>
        {{ movie.plot }}
    </p>
    <b>
        Availability: {{ movie.stock }}
    </b>
    <br>
    {% if movie.stock > 0 %}
        <a href="{{ path('rent', {'id': movie.id}) }}">
            <button>
                Rent this Movie
            </button>
        </a>
    {% endif %}
    <a href="{{ path('movies') }}">
        <button>
            Back to Movies
        </button>
    </a>
{% endblock %}

{% block title %}
    Totally Not Netflix | {{ movie.titleDisplay }}
{% endblock %}

